* {
    box-sizing: border-box
}

:root{
--themeColour: rgb(252, 169, 238);
}

.main {
    margin: 50px;
}

.scoresntime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bolder;
}

.scores {
    background-color: var(--themeColour);
}

.time {
    background-color: var(--themeColour);
}

.welcome {
    text-align: center;
    font-size: 35px;
}

.instructionsContainer {
    justify-items: start;
    background-color: var(--themeColour);
    width: 800px;
    height: 300px;
    margin-left: 20%;
    margin-top: 20px;
    border-radius: 2%;
}

.instructions {
    font-size: 20px;
    margin: 2%;
    padding-top: 20px;
}

.startQuiz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
    height: 6px;
}

.button {
    height: 35px;
    background-color: magenta;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    border-color: magenta;
    border-radius: 10px;
}

.questionSlidesContainer {
    max-width: 700px;
    height: 200px;
    position: relative;
    margin: auto;
}

.myQuestions {
    padding: 5%;
    align-content: center;
    width: 100%;
    border-style: solid;
    height: 100%;
    display: block;
    background-color: rgb(252, 169, 238);
}

.question {
    font-size: 24px;
    font-weight: bolder;
}

.choices {
    font-size: 20px;
}

.selectionText {
    padding: 2%;
}

.selectionText:hover {
    cursor: pointer;
    box-shadow: 0 0.10rem 0.4rem 0 rgb(245, 188, 245)
}

.quizOverSection, .highScoresSection {
    margin-left: 40%;
}

.initialsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.initialsBox {
    background-color: rgba(240, 240, 240, 0.788);
    border-style: solid;
    border-color: rgb(245, 188, 245);
    height: 30px;
    width: 250px;
    margin-left: 5px;
    margin-top: 12px;
}

.submitInitialsBtn, .retakeQuiz, .clearHighScores{
 
    height: 30px;
    width: 90px;
    margin-top: 12px;
    background-color: rgb(245, 188, 245);
    border-radius: 7px;
    border-color: white;
    font-size: 16px;
    font-weight: bold;
}

.highScoresBox{
    background-color: var(--themeColour);
    border-color: blanchedalmond;
}

.RetakeOrClearScoreSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clearHighScores{
    width: 150px;
}

.highScoresSection{
    display: none;
}

@media (max-width: 500px) {
.scoresntime{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bolder; 
}
.welcome{
    text-align: center;
    font-size: 15px;
    margin-top: 10%;
}

.instructionsContainer {
    background-color: var(--themeColour);
    width: 100%;
    height: 40%;
    margin-left: 2%;
    margin-top: 20px;
    border-radius: 2%;
    
}

.questionSlidesContainer {
    max-width: 100%;
    height: 250px;
    position: relative;
 
}

.quizOverSection, .highScoresSection {
    margin-left: 20%;

}

.initialsBox {
    background-color: rgba(240, 240, 240, 0.788);
    border-style: solid;
    border-color: rgb(245, 188, 245);
    height: 30px;
    width: 80px;
    margin-left: 4px;
    margin-top: 12px;
}

}

@media (max-width: 1025px) {
    .instructionsContainer {
        background-color: var(--themeColour);
        width: 100%;
        height: 40%;
        margin-left: 2%;
        margin-top: 20px;
        border-radius: 2%;
        
    }   
    .quizOverSection, .highScoresSection {
        margin-left: 25%;
    
    }
}